main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.faq-main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
  display: flex;
  gap: 50px;
}
.faq-main-content-left,
.faq-main-content-right{
    flex: 1;
}